[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
arxiv = "*"
openai = "*"
google-search-results = "*"
streamlit = "*"
pypdf2 = "*"
pinecone-client = "*"
tiktoken = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
